body{
    background-color: #010202;
    padding-top: 150px;
}


#ost_list{
    border:13px solid white;
    border-radius:80%;
    padding-left:100px;
    padding-right:100px;
    padding-bottom:100px;
    padding-top:100px;
    background-color:#010202;
    width:1200px;

}

table td{
 margin-left: 30px;
 margin-right: 30px;
 padding-left: 30px;
 padding-right: 30px;
 padding-top:30px;
 padding-bottom:30px;
    
}


@font-face{
    font-family: NanumBarunGothic;
    src:url(../src/NanumBarunGothic.ttf);
    font-weight:normal;
}
@font-face{
    font-family: JalnanOTF;
    src:url(../src/JalnanOTF.otf);
    font-weight:normal;
}


.bgm_name{
    font-family: NanumBarunGothic;
    color: white;
    text-align: center;
}

#bottom{
    margin:100px;
    padding:100px;
}


#add_music{
    font-family: JalnanOTF;
    text-decoration: none;
    font-size:30px;
    margin:100px;
    padding:100px;
    letter-spacing:1px;
    
}

a:link{
    color:#7c4cff;
    font-size:25px;
}
a:hover{
    color:#ff6f44;
    font-size: 30px;
    background:url("../src/cacifer.png")no-repeat;
    background-size:40px;
    padding:10px 40px 10px 50px
}

#image{
    display: flex;
    justify-content: center;
    
}


